//colors
$grey: #202020;
$white: #FFFFFF;

//navigation colors
$nav-background: $grey;
$title-color: $grey;
$nav-text-color: $white;

//clock
$clock-text-color: $white;
$clock-background: #B5D0E2;
$clock-border: #2099E8;
